@model IEnumerable<StarSecurity.Models.Services>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceLogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubServiceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubServiceDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceFee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceLogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubServiceDetail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceFee)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServicesId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServicesId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServicesId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
