@model StarSecurity.Models.Employee

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ENumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ENumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EQualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EQualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ECode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ECode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EDepartment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EDepartment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ERole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ERole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EGrade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EGrade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EClients)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EClients)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EAchievements)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EAchievements)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmployeeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
