@model StarSecurity.Models.Vacancy

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Vacancy</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacancyTopic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacancyTopic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacancyType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacancyType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimePeriod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimePeriod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qualification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VacancyId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
